@{
    ViewBag.Title = "New Cars";
}
<h2 class="center">Brand New Volkswagens</h2>
<h3 class="center"> Straight from the Local Dealership!</h3>

<div class="row">
    <div class="col-sm-6">
        <div class="containerCar ">
            <img src="/images/golf.png" class="image">
            <div class="overlay overlayBottom img-rounded">
                <div class="text"> Sleek Design! </div>
            </div>
            <a href="https://www.volkswagen.co.uk/new/golf-vii-pa" class="btn btn-primary btn-block">View the New Golf</a>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="containerCar">
            <img src="/images/arteon.png" class="image">
            <div class="overlay overlayBottom img-rounded">
                <div class="text"> Very Powerful! </div>
            </div>
            <a href="https://www.volkswagen.co.uk/new/arteon" class="btn btn-primary btn-block">View the New Arteon</a>
        </div>
    </div>


</div>

<div class="container-fluid"></div><br /><br /><br />





<div class="row">
    <div class="col-sm-6">
        <div class="containerCar ">
            <img src="/images/toureg.png" class="image">
            <div class="overlay overlayLeft img-rounded">
                <div class="text"> Family Car! </div>
            </div>
            <a href="https://www.volkswagen.co.uk/new/touareg" class="btn btn-primary btn-block">View the New Touareg</a>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="containerCar">
            <img src="/images/UP1.png" class="image">
            <div class="overlay overlayRight img-rounded">
                <div class="text"> Very Compact! </div>
            </div>
            <a href="https://www.volkswagen.co.uk/new/up-pa" class="btn btn-primary btn-block">View the New UP!</a>
        </div>
    </div>
</div>

<div class="container-fluid"></div><br /><br /><br />

<div class="row">
    <div class="col-sm-6">
        <div class="containerCar ">
            <img src="/images/tiguan.png" class="image">
            <div class="overlay overlayTop img-rounded">
                <div class="text"> Parking Assist! </div>
            </div>
            <a href="https://www.volkswagen.co.uk/new/passat-viii" class="btn btn-primary btn-block">View the New Passat</a>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="containerCar">
            <img src="/images/passat 1.png" class="image">
            <div class="overlay overlayTop img-rounded">
                <div class="text"> So Much Capacity! </div>
            </div>
            <a href="https://www.volkswagen.co.uk/new/passat-estate-viii" class="btn btn-primary btn-block">View the New Passat Estate</a>
        </div>
    </div>
</div>


