@{
    ViewBag.Title = "About Carlin Motor Repairs";
}
<h2>@ViewBag.Title.</h2>

<div class="col-sm-6 center">
    <p>Carlin Motor Repairs is a small local workshop located just outside of Eglinton where they manage a lot of repairs, big or small. Before the business started off it was only two mechanics who worked in their own home garage fixing their neighbours and friends cars, until they came up with the idea of turning their passion and skill into a business. Upon establishment of the business they also struck a deal with one of their local Volkswagen Dealerships where they can showcase some of the newest cars straight from the dealership, as well as gain parts and services at cheaper costs than others.</p>
</div>

<div class="col-sm-6 center">
    <img src="~/images/logo 3.jpg" /><br>
    <a class="btn btn-primary btn-lg" @Html.ActionLink("Contact", "Contact", "Home") </a> <br>   <br>
</div>

<div class="container-fluid ">

    <img src="~/images/donellys.png"  class="img-rounded img-responsive"/>

</div>





