@{
    ViewBag.Title = "Contact Carlin Motor Repairs";
}
<h2 class="center">@ViewBag.Title.</h2>
<h3 class="center">Get in Contact Today for any enquiries!</h3>

<address class="center">
    Donnelly Volkswagen Eglinton <br/>
    Campsie Industrial Estate, <br />
    McLean Rd, Eglinton, <br />
    County Derry <br />
    BT47 3DN<br />
</address>



<!-- google maps -->
<div class="container-fluid">
    <h3 class="center">Have a look at our Workshop & Dealership location on the map below!</h3>
    <h4 class="center"> Our Workshop is located alongside Volkswagen, once you find our partnered dealership, we are right around the corner!</h4>
    <h5 class="center">We hope to see you soon!</h5><br /><br />

</div>
    <div class="cmrLocation">
        <iframe class="img-rounded img-responsive"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2286.582380665592!2d-7.200795683805465!3d55.03301098036695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4860091302159a07%3A0xb5b09495aeb7f907!2sDonnelly+Volkswagen+Eglinton!5e0!3m2!1sen!2suk!4v1544968074661"></iframe>
    </div><br /><br />

<address class="center">
        <strong>Carlin Motor Repairs:</strong>   <a href="mailto:CarlinMR@example.com">CarlinMR@outlook.com</a><br />
        <strong>Volkswagen Dealership:</strong> <a href="mailto:Volkswagen@example.com">Volkswagen@outlook.com</a>
    </address>
